@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
   --font-roboto: "Roboto", sans-serif;
   --font-righteous: "Righteous", serif;
}

@layer utilities {
   .translate-y-full {
     transform: translateY(100%);
   }
   .translate-y-0 {
     transform: translateY(0);
   }
 }

html {
   overflow: hidden;
}
